header {
    background-color: var(--bg-main);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 1.8rem;
    color: var(--text-main);
    font-weight: 700;
}