nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    padding-bottom: 6px;
    transition: color 0.3s ease;
}

/* Criando a barra branca animada */
nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Expandir a barra branca ao aproximar o cursor */
nav a:hover::after,
nav a.ativo::after {
    width: 100%;
}