@media (max-width: 850px) {
    .projeto-card {
        grid-template-columns: 1fr;
    }
    
    header nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}
@media (max-width: 768px) {
    .grade-quem-sou {
        grid-template-columns: 1fr; /* Força 1 coluna única no celular */
        gap: 1rem;
    }
}